body{
    margin: 0;
}
h1{
    margin: 0;
}
.name{
    font-size: 10vh;
    text-align: center;
}

.programmer{
    font-size: 5vh;
    text-align: center;
}

.top-container{
    background-color: #916BBF;
    width: 100vw;
    height: 60vh;
    padding-top: 15%;


}

.pro{
    text-decoration:underline;
}

.navbar{
    height: 10vh;
}

.navbar-image{
    position: relative;
    width: 10vh;

}   